---

layout: 'base.njk'
rating: 1

---
<main id="main-content" tabindex="-1" class="gallery-wrapper">
<h2>{{ pagination.items[0] }}</h2> 

{% from "macro/tagSelection.njk" import tagSelector with context %}
{{ tagSelector( pagination.pages, subdirectory) }}

{# {% from "macro/fjGallery.njk" import fjGallery with context %}
{{ fjGallery(local_image_data, pagination.items[0], attribute, randomized) }} #}

{% fjgalleryShortcode local_image_data, pagination.items[0], attribute, randomized, rating %}


</main>