<header class="site-head" role="banner">
  <a href="#main-content" class="skip-link">Skip to content</a>
  <div class="wrapper">
    <div class="site-head__inner">
      <a href="/" aria-label="Sid Miller home" class="site-head__brand">
        {# <img src="/assets/logo.svg" alt="Sid Miller Design" /> #}
        <h2 class="brand__text">Sid Miller Gallery</h2>
      </a>
      <burger-menu max-width="600">
        <nav class="navigation" aria-label="primary">
          <ul role="list">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/sitemap/">Explore</a>
            </li>
            <li>
              <a href="/keywords/geometry/">Gallery</a>
            </li>
            <li>
              <a href="http://www.sidmillerdesign.com">About</a>
            </li>
          </ul>
        </nav>
      </burger-menu>
    </div>
  </div>
</header>