<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}t</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="container">
    <div class="image-wrapper">
        <img class="hero-image" src="{{ imageSrc }}" alt="{{ imageAlt }}">
    </div>
    
    <div class="tag-list">
        {# <h3>Tags</h3>
            <ul>
                {% for tag in tags %}
                    <li class="tag-item"><a href="/tags/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul> #}
            {% for object, key in details %}
            <ul>
               <li> {{ object }} : <a href="/tags/{{ key }}">{{ key }}</a></li>
            </ul>
            {% endfor %}
    </div>

{% set previousPost = collections.image | getPreviousCollectionItem(page) %}


</div>
</body>
</html>