{% macro fjGallery(dataSource, filterData, attr, shuffle=false) %}
     
    {# {{ filterData | log }} #}
    <div class="gallery">
        {% if shuffle %}
            {% set dataArray = dataSource | shuffle %}
          {# {{"shuffle!" | log }} #}
        {% elif not shuffle %}   
        {% set dataArray = dataSource %}
           {# {{"not shuffle!" | log }} #}
        {% endif %}

        {% set imageIndex = 0 %}
        {% for image in dataArray %}
            {% if image[attr] %}
                {% set filterType = image[attr] | typeof %}
                    {% if filterType == "object" %}
                        {% set filterArray = image[attr] %}
                    {% elif filterType == "string" %}
                        {% set filterArray = [image[attr]] %}
                    {% endif %}
                    {# {{filterArray | log}} #}

            {% for keyword in filterArray %}
                    {% if filterData == keyword %}
                        {% set imageIndex = imageIndex + 1 %}
                                <a class="gallery-item {% if image.width > image.height * 2 %} panoramic{% elif image.width > image.height %} landscape{% elif image.width < image.height %} portrait{% endif %} hidden" href="/gallery/{{ image.name | slug }}">
                                    <img class="thumbnail-img hidden" src="https://ik.imagekit.io/sidmiller/tr:h-800/{{ image.urlSlug }}" data-slug="{{ image.urlSlug }}" data-ratio="{{ image.width/image.height }}" data-width="{{ image.width }}" data-height="{{ image.height }}" >
                                    {# {% if imageIndex > 5 %}loading="lazy"{% endif %} #}
                                    {# width="{{ image.width }}" height="{{ image.height }}" #}
                                </a>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

<script> console.log("window.innerHeight logged before calling JS", window.innerHeight);</script>
<script src="/js/fjGallery.min.js"></script>
<script src="/js/initGallery.js"></script>

<noscript>
    <style>
        .hidden{
            opacity: 1
        }
        .fj-gallery{
            display: flex;
            flex-wrap: wrap;
            gap: 1vw;
        }
        .fj-gallery-item{
            flex: 1 0 25vw;
            background-color: transparent;
        }
    </style>

</noscript>

{% endmacro %}