:root {
  --color-hue: 25;
  --primary-lightness: 50%;
  --darken-percentage: 10%;
  --color-light: hsl(0, 0%, 100%);
  --color-light-shade: hsl(156, 100%, 99%);
  --color-dark: hsl(178, 73%, 9%);
  --color-primary: hsl(var(--color-hue), 55%, var(--primary-lightness));
  --color-primary-shade: hsl(var(--color-hue), 50%, calc(var(--primary-lightness) - var(--darken-percentage)));
}

body {
  background: var(--color-light-shade);
  color: var(--color-dark);
  line-height: 1.5;
  font-family: "Jost", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

h1,
h2 {
  /* font-family: "Jost", Georgia, "Times New Roman", Times, serif; */
  font-stretch: 50%;
  font-weight: 600;
  line-height: 1.1;
  max-width: 30ch;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: currentColor;
}

:focus {
  outline: 2px dotted currentColor;
  outline-offset: 0.2rem;
}

p,
li,
dl {
  max-width: 70ch;
}

article {
  margin-block-start: 2.5rem;
  font-size: 1.25rem;
}


main:focus {
  outline: none;
}

img {
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  /* user-drag: none;  */
  user-select: none;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

.skip-link {
  display: inline-block;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background: var(--color-light);
  color: var(--color-primary-shade);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.skip-link:hover {
  background: var(--color-dark);
  color: var(--color-light-shade);
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Head & Nav */

.site-head {
  padding: 0.6rem 0;
  background: var(--color-primary);
  border-block-start: 5px solid var(--color-primary);
  border-block-end: 5px solid var(--color-primary-shade);
  color: var(--color-light);
  line-height: 1.1;
}

.site-head :focus {
  outline-color: var(--color-light);
}

.site-head__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.site-head__brand {
  display: block;
  width: 24rem;
  text-decoration: none;
}

.brand__text{
  font-weight: 300;
  text-align: center;
  transition: all 500ms ease;
}

.site-head__brand:hover .brand__text{
  font-weight: 400;
  transition: all 250ms ease;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem 0.8rem;
  padding: 0;
}

.navigation li {
  margin: 0.1rem;
}

.navigation a {
  font-weight: 600;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: currentColor;
}

.navigation a:hover {
  color: var(--color-dark);
}

/* burger menu */

.burger-menu__trigger {
  display: none;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
  display: block;
  width: 24px;
  height: 3px;
  background: var(--color-light);
  border: 1px solid var(--color-light);
  position: absolute;
  border-radius: 3px;
  left: 50%;
  margin-left: -12px;
  transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
  content: "";
}

.burger-menu__bar::before {
  top: -8px;
}

.burger-menu__bar::after {
  bottom: -8px;
}

.burger-menu[enabled="true"] .burger-menu__trigger {
  display: block;
  width: 2rem;
  height: 2rem; /* Nice big tap target */
  position: relative;
  z-index: 3;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burger-menu[enabled="true"] .burger-menu__panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: var(--color-primary-shade);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

.burger-menu[enabled="true"] .navigation ul {
  display: block;
}

.burger-menu[enabled="true"] .navigation ul > * + * {
  margin-top: 2rem;
}

.burger-menu[enabled="true"] .navigation li {
  font-size: 1.5rem;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
  visibility: visible;
  opacity: 1;
  transition: opacity 200ms ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
  opacity: 0;
  transform: translateY(5rem);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
  transform: translateY(0);
  opacity: 1;
  transition: transform 200ms cubic-bezier(0.17, 0.67, 0, 0.87) 300ms,
    opacity 200ms ease 400ms;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
  background: transparent;
  border-color: transparent;
  transform: rotate(180deg);
}

/* body{
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1 0 auto;
} */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.gallery-wrapper {
  margin-block-start: 1rem;
  max-width: 90vw;
  margin-inline: auto;
  /* padding-left: 1.25rem;
  padding-right: 1.25rem; */
}

.gallery {
  display: flex;
  gap: .75vw;
  flex-wrap: wrap;
  padding: 0;
}

.gallery-item {
  background-color: transparent;
  height: 60vh;
  flex: 0 1 29vw;
  max-width: none;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}

/* prevent last element from stretching */

.gallery::after {
  content:"";
  flex-grow: 10;
  } 

.thumbnail {
  height: 60vh;
  flex: 0 1;
  max-width: none;
  list-style: none;
  overflow: hidden;
}

.landscape {
  flex-basis: 44vw;
  flex-grow: 1;
}

.portrait {
  flex-basis: 29vw; 
}

.panoramic {
  flex-basis: 90%;
  flex-grow: 1;
  order: 1;
}

.thumbnail-img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: none;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-width: 1000px) and (orientation: portrait) {

  /* .gallery {
    gap: 2.5vw;
  } */

  .gallery-item {
    height: 40vh;
    flex: 0 1;
    max-width: none;
    list-style: none;
    overflow: hidden;
  }

  .landscape {
    flex-basis: 100%;
  }
  
  .portrait {
    flex-basis: 44vw; 
  }
  
  .panoramic {
    flex-basis: 90%;
    flex-grow: 1;
    order: 2;
  }
}

@media (max-width: 750px) and (orientation: portrait) {
  .gallery-wrapper {
    max-width: 95vw;
  }

  .gallery {
    gap: 2.5vw;
  }

  .gallery-item {
    height: auto;
    max-width: none;
    flex-basis: 100%;
  }

  .thumbnail-img {
    max-width: 100%;
  }

  .site-head__brand {
    width: 18rem;
    text-decoration: none;
    overflow: hidden;
  }
  
}

.container {
  position: relative; 
  height: 91vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.image-wrapper {
  /* margin: auto; */
  /* margin-block-start: 5vh; */
  margin: 1rem;
  
  max-height: 95%;
  /*width: auto; */
  flex-grow: 1;
  /* flex-shrink: 1; */
  flex-basis: 0;
  min-inline-size: 63%;
}

.hero-image {
  /* max-height: 100%; */
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.tag-list {
  padding: 1rem;
  flex-grow: 0;
  /* flex-shrink: 0; */
  flex-basis: 30ch;
  align-self: flex-end;
}

.tag-list > ul{
  list-style-type: none;
  padding-inline-start: 1rem;
}

@media (orientation: portrait) {
  /* .container {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
 
  
  .hero-image {
    max-height: 100%;
  } */
  /* .image-wrapper {
  height: 200px;
  } */
  /* .tag-list {
    position: relative;
    bottom: auto;
    right: auto;
    padding: 1rem;
  } */
}

.tagSelection{
  padding-block: .5rem;
}

/* fjGallery CSS */

.fj-gallery {
  position: relative;
  overflow: hidden;
  /* -webkit-transition: .2s height ease-in-out;
  transition: .2s height ease-in-out; */
  margin-block: 3vh;
}
.fj-gallery::after {
  content: "";
  display: block;
  clear: both;
}
.fj-gallery .fj-gallery-item {
  float: left;
  top: 0;
  left: 0;
  /* -webkit-transition: .2s -webkit-transform ease-in-out;
  transition: .2s transform ease-in-out; */
}
.fj-gallery .fj-gallery-item > img {
  display: block;
  width: 100%;
  height: auto;
}
.fj-gallery-item{
  background-color: #f1f1f1;
  cursor: pointer;
}

.gallery-item, .fj-gallery-item{
  border: none;
  padding: 0px;
}

.hidden{
  /* opacity: 0; */
  animation: fadeOutAnimation ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.shown{
  animation: fadeInAnimation ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: all;
}

.removed{
  display: none;
}

.added{
  display: block;
}

.vertical{
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  margin: 2.5vw 0;
}

@keyframes fadeInAnimation {
0% {
  opacity: 0;
  display: none;
  scroll-behavior: auto;
}
1% {
  opacity: 0;
  display: flex;
  scroll-behavior: auto;
}
100% {
  opacity: 1;
  display: flex;
  scroll-behavior: smooth;
} 
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    display: flex;
    scroll-behavior: smooth;
  }
  99% {
    opacity: 0;
    display: flex;
    scroll-behavior: smooth;
  }
  100% {
    opacity: 0;
    display: none;
    scroll-behavior: auto;
  } 
  }