---
layout: 'base.njk'
---

{# <img src="https://res.cloudinary.com/sid-miller-design/image/upload/v1652483201/SidMiller_hidden.jpg" alt=""> #}
<div class="container">
    <div class="image-wrapper bioImage-wrapper" id="imageWrapper">
        <div class="backgroundImage"><img class="hero-image hover-fade bio-image" src="https://res.cloudinary.com/sid-miller-design/image/upload/v1652483201/SidMiller_hidden.jpg" alt="Sid Miller standing against a leafy background" height="{{ image.height }}" width="{{ image.width }}"></div>
    </div>
    
    <div class="tag-list bioText">
        <h3>Sid Miller</h3> <i>he/him</i> 
        <p>is an industrial designer, maker, (film) photographer, dog dad, dungeon master, woodworker, tech-nerd, and list-lover.</p>
        <ul id="bio-link-list">
            <li><a href="https://www.instagram.com/sid.mill/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/sidmillerdesign/">LinkedIn</a></li>
            <li><a href="/assets/SidMillerResume2021.pdf">Resume</a></li>
        </ul>
        <p>This site is a personal experiment in archiving and presenting analog photos with all of their metadata. It was built using <a href="http://www.11ty.dev">11ty</a>, <a href="http://www.cloudinary.com">Cloudinary</a>, and <a href="https://www.netlify.com">Netlify</a>. The source is avalible on <a href="https://github.com/sidrichmill/SidMillerGallery">Github</a>, but I warn you...it's not pretty.</p>
    </div>
{# <main id="main-content" tabindex="-1" class="gallery-wrapper">
    <div class="bioContainer">
        <div class="bioImage"><img src="https://res.cloudinary.com/sid-miller-design/image/upload/v1652483201/SidMiller_hidden.jpg" alt="Sid Miller standing against a leafy background"></div>
 https://res.cloudinary.com/sid-miller-design/image/upload/v1652483201/SidMiller_shown.jpg 
        <div class="bioText"></div>
    </div> #}

<style>
    .hover-fade{
        opacity: 1;
        transition: all 500ms ease;
        animation-duration: 1000ms;
        animation-name: pulse;
        animation-iteration-count: 2;
        animation-delay: 500ms;
    }
    
    .hover-fade:hover{
        opacity: 0;
    }

    .bio-image{
        height: auto;
        max-height: 100%;
    }

    .backgroundImage{
        height: 100%;
        background-image:url("https://res.cloudinary.com/sid-miller-design/image/upload/v1652483201/SidMiller_shown.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bioText{
        flex-basis: 38ch;
        margin: 0 auto;
    }

    #bio-link-list{
        display: flex;
        justify-content: space-evenly;
        padding-inline-start: 0;
    }
    .bioText a {
        font-weight: 600;
    }
    .bioImage-wrapper{
        display: flex;
        justify-content: center
    }

    @keyframes pulse {
        from{
            opacity: 1;
        }

        25%{
            opacity: .6;
        }

        to {
            opacity: 1;
        }
    }

</style>
</main>