---

layout: 'base.njk'

pagination:
  data: cloudinaryFolders
  size: 1
  alias: album
permalink: /albums/{{ album.name | slug }}/

---

<main id="main-content" tabindex="-1" class="gallery-wrapper">

<h2>{{ album.name }}</h2> 

    <div class="gallery">
        {% for folder in cloudinaryFolders %}
            {% for image in folder.files %}
                    {% if loop.index0 < 24 %} {# limit to 24 images #}
                        {% if image.width > image.height * 2 %}
                            <a class="gallery-item panoramic hidden" href="/gallery/{{ image.file | slug }}#imageWrapper">
                        {% elif image.width > image.height %}
                            <a class="gallery-item landscape hidden" href="/gallery/{{ image.file | slug }}#imageWrapper">
                        {% elif image.width < image.height %}
                            <a class="gallery-item portrait hidden" href="/gallery/{{ image.file | slug }}#imageWrapper">
                    {% endif %}
                        
                            <img class="thumbnail-img hidden" src="{{ cloudinary.baseUrl }}c_scale,f_auto,h_800/{{ image.urlSlug }}" data-slug="{{ image.urlSlug }}" data-ratio="{{ image.width/image.height }}" data-width="{{ image.width }}" data-height="{{ image.height }}" loading="lazy">
                            {# width="{{ image.width }}" height="{{ image.height }}" #}
                        </a>
                    {% endif %}
            {% endfor %}
        {% endfor %}
        
    </div>

</main>
<script> console.log("window.innerHeight logged before calling JS", window.innerHeight);</script>
<script src="/js/fjGallery.min.js"></script>
<script src="/js/initGallery.js"></script>

<noscript>
    <style>
        .hidden{
            opacity: 1
        }
        .fj-gallery{
            display: flex;
            flex-wrap: wrap;
            gap: 1vw;
        }
        .fj-gallery-item{
            flex: 1 0 25vw;
            background-color: transparent;
        }
    </style>

</noscript>

