---

layout: 'base.njk'

---
{# steps

fjgallery gets list of all images on page with their width/heights, begins loading them, sorts them into layouts. 
That size is established and then cloudinary gets the dimensions of the container and serves a scaled image.

 #}

<style>
    .fj-gallery {
        position: relative;
        overflow: hidden;
        /* -webkit-transition: .2s height ease-in-out;
        transition: .2s height ease-in-out; */
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .fj-gallery::after {
        content: "";
        display: block;
        clear: both;
    }
    .fj-gallery .fj-gallery-item {
        float: left;
        top: 0;
        left: 0;
        /* -webkit-transition: .2s -webkit-transform ease-in-out;
        transition: .2s transform ease-in-out; */
    }
    .fj-gallery .fj-gallery-item > img {
        display: block;
        width: 100%;
        height: auto;
    }
    .fj-gallery-item{
        background-color: #f1f1f1;
    }

    .hidden{
        opacity: 0;
    }

    .shown{
        animation: fadeInAnimation ease .3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     } 
    }
</style>

<main id="main-content" tabindex="-1" class="gallery-wrapper">

    <h2>Cloudinary Responsive Plugin</h2>

    <div class="gallery">
        {% for image in cloudinaryImages %}
                    {% if loop.index0 < 24 %}    
                        <a class="gallery-item hidden" href="/cloudinaryImages/{{ image.file | slug }}/">
                                <img class="hidden" src="{{ cloudinary.baseUrl }}c_scale,h_150,e_blur:100/{{ image.urlSlug }}" data-slug="{{ image.urlSlug }}" data-ratio="{{ image.width/image.height }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
                                {#   data-src="{{ cloudinary.baseUrl }}w_auto,c_scale/{{ image.urlSlug }}" cld-responsive #}
                        </a>
                    {% endif %}
        {% endfor %}
    </div>
</main>

<script src="/js/fjGallery.min.js"></script>
<script src="/js/initGallery.js"></script>

<noscript>
    <style>
    .hidden{
        opacity: 1
    }
    .fj-gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
    }
    .fj-gallery-item{
        flex: 1 0 25vw;
        background-color: transparent;
    }
    </style>

</noscript>
