---
layout: 'base.njk'

pagination:
  data: cloudinaryImages
  size: 1
  alias: image
permalink: "cloudinaryImages/{{ image.file | slug }}/index.html"

---
{# {{ title }} #}
<div class="container">
    <div class="image-wrapper">
        <img class="hero-image" src="{{ cloudinary.baseUrl }}{{ image.urlSlug }}" alt="placeholder image alt">
    </div>
    
    <div class="tag-list">
        <h3>Tags</h3>
            <ul>
                {% for tag in image.tags %}
                    <li class="tag-item"><a href="/cloudinarytags/{{ tag | slug }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
    </div>


</div>