---

title: Home
layout: 'base.njk'

---

{% from "macro/imageSlider.njk" import imageSlider with context %}

<main id="main-content" tabindex="-1" class="wrapper">

{# {% for album in images.albums %}
{{album}}
{% endfor %} #}

{% for tag in featuredAlbums %}
    {{ imageSlider(images.images, tag, "keywords", true) }}
{% endfor %}

</main>


<script>
const sliders = document.querySelectorAll('.featuredSlider')
    //const slider = document.querySelector('.featuredSlider')
    var baseURL = "https://ik.imagekit.io/sidmiller/";
    let viewHeight = document.documentElement.clientHeight;
    let imageHeight = Math.round((viewHeight/100)* 40)
    


for(let slider of sliders){
    const images = slider.getElementsByTagName('img');
    console.log("Slider", slider)
    let isDown = false;
    let startX;
    let scrollLeft;
    let walk;

    slider.addEventListener('mousedown', (e) => {
    console.log("mousedown", e.target)
    isDown = true;
    slider.classList.add('active');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
    walk = 0;
    });

    slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('active');
    });

    slider.addEventListener('mouseup', (e) => {
    
    isDown = false;
    slider.classList.remove('active');
    });


    slider.addEventListener('mousemove', (e) => {
    if(!isDown) return;
    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    walk = (x - startX) * 2; //scroll-fast
    slider.scrollLeft = scrollLeft - walk;
    //console.log(walk);
    });

    for(var image of images){
    image.addEventListener('click', (e)=>{
        console.log("click", e.target)
        console.log("walk", walk)
    if(walk > 10 || walk < -10){
        console.log(walk, e.target)
        e.preventDefault();
    }
    }) 
        var newSrc = baseURL + "tr:h-" + imageHeight + ",q-80" + image.dataset.slug;
        image.src = newSrc
    }
}


</script>

<script>

    
</script>