---

title: Home
layout: 'base.njk'

---


<main id="main-content" tabindex="-1" class="wrapper">
    <article class="post flow">


        <h2>Welcome</h2>
        
        {% for image in collections.detailsCollection %}
        <ul>
        <h3>{{ image.data.title }}</h3>
            {% for key in image.data.details %}
                            
                    <li>{{ key[0] | capitalize }} : {{ key[1] }}</li>
                
            {% endfor %}
        </ul>
        {% endfor %}
       
    </article>
</main>
