


{# permalink: /keywords/{{ cltag | slug }}/ #}

{# {% from "macro/tagSelection.njk" import tagSelector %}
{% from "macro/fjGallery.njk" import fjGallery %}

{{ tagSelector(cloudinaryTags, "keywords") }}

{{ fjGallery(cloudinaryImages, "geometry", "keywords", false) }} #}
