---
layout: 'gallery.njk'
subdirectory: 'lens'
attribute: 'lens'
randomized: true

pagination:
  data: cloudinaryLenses
  size: 1
  alias: cllens

permalink: "/{{ subdirectory }}/{{ cllens | slug }}/"
---
{# 
---

layout: 'base.njk'

pagination:
  data: cloudinaryLenses
  size: 1
  alias: cllens
permalink: /lens/{{ cllens | slug }}/
---

<main id="main-content" tabindex="-1" class="gallery-wrapper">

<h2>{{ cllens }}</h2> 

{% from "macro/tagSelection.njk" import tagSelector %}

{{ tagSelector(cloudinaryLenses, "lenses", "lens") }}

    <div class="gallery">
        {% set shuffledImages = cloudinaryImages | shuffle %}
        {% for image in shuffledImages %}
                {% if cllens === image.lens %}
                    {% if loop.index0 < 100 %}
                        {% if image.width > image.height * 2 %}
                            <a class="gallery-item panoramic hidden" href="/gallery/{{ image.name | slug }}">
                        {% elif image.width > image.height %}
                            <a class="gallery-item landscape hidden" href="/gallery/{{ image.name | slug }}">
                        {% elif image.width < image.height %}
                            <a class="gallery-item portrait hidden" href="/gallery/{{ image.name | slug }}">
                        {% endif %}
                        
                            <img class="thumbnail-img hidden" src="{{ cloudinary.baseUrl }}c_scale,f_auto,h_800/{{ image.urlSlug }}" data-slug="{{ image.urlSlug }}" data-ratio="{{ image.width/image.height }}" data-width="{{ image.width }}" data-height="{{ image.height }}" loading="lazy">
                            
                        </a>
                    {% endif %}
                {% endif %} 
        {% endfor %}
        
    </div>

</main>
<script> console.log("window.innerHeight logged before calling JS", window.innerHeight);</script>
<script src="/js/fjGallery.min.js"></script>
<script src="/js/initGallery.js"></script>

<noscript>
    <style>
        .hidden{
            opacity: 1
        }
        .fj-gallery{
            display: flex;
            flex-wrap: wrap;
            gap: 1vw;
        }
        .fj-gallery-item{
            flex: 1 0 25vw;
            background-color: transparent;
        }
    </style>

</noscript> #}

