---
layout: 'gallery.njk'
subdirectory: 'keywords'
attribute: 'keywords'
randomized: true
rating: 3

pagination:
  data: cloudinaryTags
  size: 1
  alias: cltag

permalink: "/{{ subdirectory }}/{{ cltag | slug }}/"
---
