---
layout: 'gallery.njk'
subdirectory: 'film'
attribute: 'film'
randomized: true
rating: 3

pagination:
  data: cloudinaryFilms
  size: 1
  alias: clfilm

permalink: "/{{ subdirectory }}/{{ clfilm | slug }}/"
---