---
layout: 'gallery.njk'
subdirectory: 'lens'
attribute: 'lens'
randomized: true
rating: 3


pagination:
  data: cloudinaryLenses
  size: 1
  alias: cllens

permalink: "/{{ subdirectory }}/{{ cllens | slug }}/"
---