---

layout: 'base.njk'

pagination:
  data: cloudinaryTags
  size: 1
  alias: cltag
permalink: /keywords/{{ cltag | slug }}/
---

<main id="main-content" tabindex="-1" class="gallery-wrapper">

<h2>{{ cltag }}</h2> 

{% include "tagSelection.njk" %}

    <div class="gallery">
        {% set shuffledImages = cloudinaryImages | shuffle %}
        {% for image in shuffledImages %}
            {% for keyword in image.keywords %}
                {% if cltag === keyword %}
                        {% if image.width > image.height * 2 %}
                            <a class="gallery-item panoramic hidden" href="/gallery/{{ image.name | slug }}">
                        {% elif image.width > image.height %}
                            <a class="gallery-item landscape hidden" href="/gallery/{{ image.name | slug }}">
                        {% elif image.width < image.height %}
                            <a class="gallery-item portrait hidden" href="/gallery/{{ image.name | slug }}">
                        {% endif %}
                        
                            <img class="thumbnail-img hidden" src="{{ cloudinary.baseUrl }}c_scale,f_auto,h_800/{{ image.urlSlug }}" data-slug="{{ image.urlSlug }}" data-ratio="{{ image.width/image.height }}" data-width="{{ image.width }}" data-height="{{ image.height }}" loading="lazy">
                            {# width="{{ image.width }}" height="{{ image.height }}" #}
                        </a>
                {% endif %} 
            {% endfor %}
        {% endfor %}
        
    </div>

</main>
<script> console.log("window.innerHeight logged before calling JS", window.innerHeight);</script>
<script src="/js/fjGallery.min.js"></script>
<script src="/js/initGallery.js"></script>

<noscript>
    <style>
        .hidden{
            opacity: 1
        }
        .fj-gallery{
            display: flex;
            flex-wrap: wrap;
            gap: 1vw;
        }
        .fj-gallery-item{
            flex: 1 0 25vw;
            background-color: transparent;
        }
    </style>

</noscript>

