---
layout: 'gallery.njk'
subdirectory: 'albums'
attribute: 'album'
randomized: false
rating: 0

pagination:
  data: cloudinaryRolls
  size: 1
  alias: clroll

permalink: "/{{ subdirectory }}/{{ clroll | slug }}/"
---

