---
layout: 'gallery.njk'
subdirectory: 'camera'
attribute: 'camera'
randomized: true
rating: 3

pagination:
  data: cloudinaryCameras
  size: 1
  alias: clcamera

permalink: "/{{ subdirectory }}/{{ clcamera | slug }}/"
---
