---
layout: 'gallery.njk'
subdirectory: 'people'
attribute: 'people'
randomized: true
rating: 1

pagination:
  data: cloudinaryNames
  size: 1
  alias: clname

permalink: "/{{ subdirectory }}/{{ clname | slug }}/"
---

{# 
---

layout: 'base.njk'

pagination:
  data: cloudinaryNames
  size: 1
  alias: clname
permalink: /people/{{ clname | slug }}/

---

<main id="main-content" tabindex="-1" class="gallery-wrapper">

<h2>{{ clname }}</h2> 

{% from "macro/tagSelection.njk" import tagSelector %}
{{ tagSelector(cloudinaryNames, "people", "person") }}

    <div class="gallery">
        {% for image in cloudinaryImages %}
            {% for person in image.people %}
                {% if clname === person %}
                    {% if loop.index0 < 50 %}
                        <a class="gallery-item {% if image.width > image.height * 2 %} panoramic{% elif image.width > image.height %} landscape{% elif image.width < image.height %} portrait{% endif %} hidden" href="/gallery/{{ image.name | slug }}">
                            <img class="thumbnail-img hidden" src="{{ cloudinary.baseUrl }}c_scale,f_auto,h_800/{{ image.urlSlug }}" data-slug="{{ image.urlSlug }}" data-ratio="{{ image.width/image.height }}" data-width="{{ image.width }}" data-height="{{ image.height }}" loading="lazy">
                            
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
                 

        {% endfor %}
        
    </div>

</main>
<script> console.log("window.innerHeight logged before calling JS", window.innerHeight);</script>
<script src="/js/fjGallery.min.js"></script>
<script src="/js/initGallery.js"></script>

<noscript>
    <style>
        .hidden{
            opacity: 1
        }
        .fj-gallery{
            display: flex;
            flex-wrap: wrap;
            gap: 1vw;
        }
        .fj-gallery-item{
            flex: 1 0 25vw;
            background-color: transparent;
        }
    </style>

</noscript> #}

