---
layout: 'base.njk'
---

<div class="list__wrapper">
    <ul class="list__container">
        <li class="list__card"><h3>People:</h3>
            <ul>
                {% for name in cloudinaryNames | sort() %}
                    <li><a href="/people/{{ name | slug }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="list__card"><h3>Cameras:</h3>
            <ul>
                {% for camera in cloudinaryCameras | sort()  %}
                    <li><a href="/camera/{{ camera | slug }}">{{ camera }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="list__card"><h3>Film Stocks:</h3>
            <ul> 
                {% for film in cloudinaryFilms | sort()  %}
                    <li><a href="/film/{{ film | slug }}">{{ film }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="list__card"><h3>Lenses:</h3>
            <ul>
                {% for lens in cloudinaryLenses | sort()  %}
                    <li><a href="/lens/{{ lens | slug }}">{{ lens }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="list__card"><h3>Categories:</h3>
            <ul>
                {% for tag in cloudinaryTags | sort() %}
                    <li><a href="/keywords/{{ tag | slug }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

<style>
    .list__container{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .list__card{
        flex-basis: 30ch;
    }
</style>